body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(../img/sfondo.png);
  background-size: auto;
  line-height: 28px;
}

@media screen and (max-width: 500px) {
  .header {
    background-color: rgb(21, 150, 150);
    text-align: center;
    margin: 30px 20px;
    padding: 30px 20px;
    box-shadow: 0 10px 10px grey;
  }

  .header img {
    width: 60%;
    margin-bottom: 25px;
  }

  .header h1 {
    color: white;
    margin-bottom: 25px;
  }

  .header a {
    color: white;
    text-decoration: none;
  }

  .header i {
    color: white;
  }

  .header li {
    padding-bottom: 8px;
  }

  .main {
    margin: 0 20px;
    padding: 0 30px;
    background-color: white;
    box-shadow: 0 10px 10px grey;
  }

  .first-part h2 {
    padding: 40px 0;
    font-size: 35px;
    font-weight: bold;
  }

  .first-part p {
    margin-bottom: 40px;
  }

  .first-part ul {
    list-style-type: disc;
    padding: 20px;
  }

  .code {
    background-color: lightgrey;
    padding: 3px;
    border-radius: 8px;
    border-width: 2px;
    border-color: gray;
    border-style: dotted;
  }

  .author {
    color: gray;
    font-size: 20px;
  }

  .part {
    color: brown;
    font-weight: bold;
  }

  .second-part ol {
    list-style-type: decimal;
    padding: 20px;
  }

  .third-part p {
    margin-bottom: 40px;
  }

  .table {
    width: 100%;
  }

  .title-table {
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }

  .table-main {
    color: white;
  }

  .bg-main {
    background-color: rgb(14, 192, 236);
  }

  .table {
    border-bottom: solid blue;
    margin-bottom: 30px;
  }

  .bg-main td {
    padding: 20px;
    color: white;
  }

  td {
    padding: 10px;
  }

  tr.odd td,
  tr.odd th {
    background-color: lightgray;
  }

  tbody {
    padding: 30px;
  }

  .ref {
    color: aqua;
  }
}
